.pagination {
    overflow-y: auto;
    margin: 20px 20px 0px 20px;
    border-radius: 20px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    .page {
        width: 100%;
        .indexId {
            margin-right: 10px;
        }
    }
}
.header-container {
    margin: 20px;
    font-weight: 600;
    font-size: 20px;
}