
swiper-container {
    width: 80%;
    height: 80%;
    border-radius: 40px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    margin-top: 30px;
  }
   
  swiper-slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    .slide-header-container {
      display: block;
      text-align: center;
      .slide-1-header {
        font-weight: 600;
        font-size: large;
        color: #12926f;
      }
    }
    .car-illustration {
      margin: 20px 0px;
    }
  }
  .header-container {
    margin: 20px;
    font-weight: 600;
    font-size: 20px;
}